* {
    text-align: center;
    background-color: black;
    color: red;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
  color: red;
    font-style: italic;
    text-align: center;
}

p {
    font-style: bold;
    font-family: sans-serif;
}

ul {
    list-style: none;
    font-size: 20 px;
    line-height: 30 px;
}
img {
  width: 500px;
  height: 400px;
}
